<div class="container">
    <div *ngIf="products.length==0" class="loading"></div>
    <div class="product-grid">
        <div class="product-card" *ngFor="let product of products">
            <img [src]="product.imageURL" [alt]="product.productName" class="product-img" loading="lazy" decoding="async"/>
            <div class="product-info">
                <h3>{{product.productName}}</h3>
                <p class="brand">{{product.productBrand}}</p>
                <p class="description">{{product.productDescription}}</p>
                <div class="colors">
                    <strong>Colors:</strong>
                    <span *ngFor="let color of product.productColors" class="color-circle" [style.background-color]="color" [title]="color"     [class.selected]="product.selectedColor === color"
    (click)="selectColor(product, color)">
                    </span>
                </div>
                <p class="material"><strong>Material:</strong> {{ product.materialType }}</p>
                <h4 class="price">₹{{ product.price }}</h4>
                <div class="qty-controls">
  <button class="qty-btn" (click)="decrease(product)">−</button>

  <span class="qty-value">
    {{ product.selectedColor
        ? getQuantity(product.productId!, product.selectedColor)
        : 0
    }}
  </span>

  <button class="qty-btn" (click)="increase(product)">+</button>

  <button class="delete-btn"   *ngIf="product.selectedColor && getQuantity(product.productId!,product.selectedColor)"
 (click)="delete(product.productId,product.selectedColor)">
    🗑️
  </button>
</div>

            </div>
        </div>
    </div>
</div>